streamlit==1.38.0
sentence-transformers==3.0.1
chromadb==0.5.11
posthog==2.4.2
faiss-cpu==1.8.0
openai==1.45.0
groq==0.11.0
httpx
numpy==1.24.4
pandas==2.0.3
PyPDF2==3.0.1
python-docx==1.1.2
redis
fpdf2==2.8.3
pymupdf==1.24.11
